.love1
    img {
     width: 105px;
     height: 148.5px;
     object-fit: scale-down;
    }

.love2
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;     
    }
.love3
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;
    }
.love4
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;     
    }
.love5
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;    
    }
.love6
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;   
    }
.love7
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;     
    }

.love8
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;   
    }

.love9
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;     
    }
.love10
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;   
    }
.love11
    img {
        width: 105px;
        height: 148.5px;
        object-fit: scale-down;
    }