@import url("https://fonts.googleapis.com/css?family=Poppins:400:500:600:700&display=swap%22");

.container {
  background-image: url();
}
.love1 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}

.love2 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}
.love3 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}
.love4 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}
.love5 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}
.love6 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}
.love7 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}

.love8 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}

.love9 img {
  width: 105px;
  height: 148.5px;
  object-fit: scale-down;
}
.love10 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}
.love11 img {
  width: 210px;
  height: 297px;
  object-fit: scale-down;
}

.kotori img {
  width: 250px;
  height: 350px;
  object-fit: scale-down;
}

.yohane img {
  width: 250px;
  height: 350px;
  object-fit: scale-down;
}
.kasumi img {
  width: 250px;
  height: 350px;
  object-fit: scale-down;
}
.chisato img {
  width: 250px;
  height: 350px;
  object-fit: scale-down;
}
.mainh {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 5vw;
  font-weight: bold;
}
.sunseo {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  font-weight: bold;
}
.ll1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.ll2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.llm {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.llh1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.llh2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.llhm {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.llu1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.lln1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.lln2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.llu2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2vw;
  font-weight: bold;
}
.bestgf {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  font-weight: bold;
}
.llt {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.llht {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.llnt {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}
.llut {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.kotori_t {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
}
.yosiko_t {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
}
.kasumi_t {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
}
.chisato_t {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
}
